<h1><%=current_user.username.capitalize%>'s Notes</h1><br><hr>
<%@notes.each do |note|%>
    <%if current_user.id == note.user_id%>
     <h1><a href="/notes/<%="#{note.id}/edit"%>" style="color: black; text-decoration: none"> <%=note.event_name%></a></h1><br>
     <%=note.entry%><br>
     <!-- Delete -->
     <form action="/notes/<%="#{note.id}"%>" method="post">
        <input type="hidden" name="_method" value="delete">

        <div class="event_buttons2">
        <button class="eventbutton eventbutton2" type="submit">Delete</button>
        </div>
    </form><br>
         <hr>
    <%end%>
<%end%>
